.box{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    padding: 20px;
}
.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header, footer {
    text-align: center;
    padding: 10px;
}